<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Terps Tracker</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="Image-container">
        <h1>Welcome to Terps Tracker</h1> 
        <img id="globe_img" src="UMDGlobe.gif" alt="img1">
    </div>

    <br>

    <section id="welcomeHead">
        <p>
            Welcome to the UMD Terps Tracker, your go-to platform for effortlessly managing 
            and reviewing your semesterly purchases. Whether you're looking to keep a detailed 
            record of your transactions or access comprehensive summaries at semester’s end, we ensure 
            that everything you need is just a few clicks away. Join us and simplify how you track your spending at UMD!
        </p>
    </section>

    <!-- <div id="container">
        <div id="header">Account Detail<div>
        <div class="fourth"><a href="/create"> Create Account</a></div>
        <div class="half"><a href="/review">Review Application</a></div>
        <div class="fourth"><a href="/myAmount">Lookup</a></div>
    </div> -->
    
    <br>


    <div class="row">
        <div class="column">
            <a href="/create" class="button">Create Account</a>
        </div>
        <div class="column">
            <a href="/review" class="button">Append to Account</a>
        </div>
        <div class="column">
            <a href="/myAmount" class="button">Lookup</a>
        </div>
    </div>
    
      
    
</body>

</html>
