<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Terps Tracker</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="Image-container">
        <h1>Welcome to Terps Article Summarizer</h1> 
        <img id="globe_img" src="UMDGlobe.gif" alt="img1">
    </div>

    <br>

    <section id="welcomeHead">
        <p>
            Dive into the world of effortless reading with Terps Article Summarizer! 
            Our innovative app transforms lengthy articles into concise, 
            easy-to-digest summaries, allowing you to stay informed 
            and save time. Whether you're a student, professional, 
            or just a curious mind, Terps Article Summarizer is your perfect 
            companion for quick and enjoyable reading.
        </p>
    </section>

    <!-- <div id="container">
        <div id="header">Account Detail<div>
        <div class="fourth"><a href="/create"> Create Account</a></div>
        <div class="half"><a href="/review">Review Application</a></div>
        <div class="fourth"><a href="/myAmount">Lookup</a></div>
    </div> -->
    
    <br>


    <div class="row">
        <div class="column">
            <a href="/create" class="button">Create Account</a>
        </div>
        <div class="column">
            <a href="/review" class="button">Search for New Article</a>
        </div>
        <div class="column">
            <a href="/myAmount" class="button">Review</a>
        </div>
    </div>
    
      
    
</body>

</html>
