<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Terps Tracker</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="Image-container">
        <h1>Welcome to Terps Tracker</h1> 
        <img id="globe_img" src="UMDGlobe.gif" alt="img1">
    </div>

    <br>

    <section id="welcomeHead">
        <p>
            Welcome to the UMD Terps Tracker, your go-to platform for effortlessly managing 
            and reviewing your semesterly purchases. Whether you're looking to keep a detailed 
            record of your transactions or access comprehensive summaries at semester’s end, we ensure 
            that everything you need is just a few clicks away. Join us and simplify how you track your spending at UMD!
        </p>
    </section>
    

    <h2> Account Creation </h2>

    <ul>
        <li> Create Semester Account <a href="/create"> Create Account</a></li>
        <!-- <li> To apply select <a href="/application">Application</a></li> -->
        <br>
        <li> To Append/update amount for Month <a href="/review">Review Application</a></li>
    </ul>
    <hr>
    <h2> Review Monthly Quote </h2>
    <ul> 
        <li> To select current Amount <a href="/myAmount">Lookup</a></li>
    </ul>
    <br>
	<hr>
</body>

</html>
