<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Place Order</title>
	<link rel="stylesheet" href="style.css">
</head>

<body>
	<h1>Account revision</h1>
	<form action="/visitAmount" method="post">
		<fieldset>
            
    		<Strong>Name: <input name="name"></Strong><br>
			<br><Strong>Email Address: <input type="email" name="email"></Strong><br>
			<br><Strong>  New Amount: <input type="text" name="Amo"/></label><br>

			<br>
				<legend>Describe Purchases: </legend>
				<label><textarea rows="5" cols="50" name="orderInformation" maxlength="20"></textarea></label>
	
		</fieldset>
        <br>
        <input type="reset" />
        <input type="submit" value="Submit Application"/>
        <hr>
        <a href="MainPage">HOME</a>
    </form>
</body>

</html>