<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Display GPA</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
	<h1>Display GFAs Greater than or Equal to</h1>
	<form action="/visitAmount" method="post">
		<!-- <fieldset> -->
            
            <br><Strong> GPA: <input type="text" name="GPA"/></label><br>

		<!-- </fieldset> -->
        <br>
        <input type="submit" value="Submit Application"/>
        <hr>
        <a href="MainPage">HOME</a>
    </form>
</body>

</html>